.activity-details {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 50px 20px 50px;
}

.all-details-div {
    margin-top: 30px;
}

.details-div {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.details-div:hover {
    color: royalblue;
    border-color: rgb(230, 230, 230);
    box-shadow: 1px 2px 3px rgb(230, 230, 230);
}

.details-div .details-field {
    flex: 1;
    text-align: left;
}

.details-div .details-value {
    font-weight: 700;
    flex: 2;
    text-align: left;
}

.charts {
    margin-top: 50px;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 49% 49%;
}

.charts .chart{
    border: 2px solid rgb(235, 235, 235);
    border-radius: 20px;
    box-shadow: 2px 3px 10px rgb(220, 220, 220);
}