.grid-options-div {
    width: 100%;
    height: 50px;
}

.grid-options-div .button-top {
    height: 40px;
    margin: 5px;
    font-size: 14px;
    background: dodgerblue;
    color: white;
    border-radius: 7.5px;
    border: 2px solid dodgerblue;
    font-weight: 600;
}

.grid-options-div .button-top:hover {
    background-color: royalblue;
    border-color: royalblue;
    transform: scale(0.95);
    transition: all 0.3s ease;
}