.community {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .card {
    
    height: 200px; 
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    align-content: center;
    column-gap: 2em;
    row-gap: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 0 30%;
    
  }
