.wrapper{
    display: flex;
    margin-top:60px;
    justify-content: center;
    align-items: center;
}

.accordian{
    margin-top: 70px;
    width:500px;
}

.item{
    background-color: lightgray;
   margin-bottom: 15px;
   padding:10px 20px;
}

.title{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 5px;
}

.content{
    max-height: 0;
    overflow: hidden;
    transition:all 0.5 cubic-bezier(0,1,0,1);
}

.content.show{
height: auto;
max-height: fit-content;
transition: all 0.5 cubic-bezier(0, 1, 0, 1);
}

