.dashboard-component {
    margin: 20px;
}

.main-dashboard {
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
}

.top-info-div {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-info {
    flex: 1;
    margin: 5px;
    color: white;
    border-radius: 20px;
    padding: 30px;
    display: flex;
}

.top-info .left {
    flex: 1;
}

.top-info .left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.top-info .right {
    flex: 4;
}

.top-info .right .top {
    font-size: 16px;
    margin-bottom: 2.5px;
}

.top-info .right .bottom {
    margin-top: 2.5px;
    font-size: 40px;
    font-weight: 700;
}

.main-dashboard-filter{
    font-size: 16px;
    padding: 10px;
    display: flex;
}

.main-dashboard-filter .filter-option{
    flex: 1;
    margin: 5px;
    display: flex;
}

.main-dashboard-filter .filter-option p{
    flex: 1;
}

.main-dashboard-filter .filter-option select{
    flex: 1;
    font-size: 18px;
    background-color: transparent;
    font-weight: 600;
}