@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
}

html,
input,
select,
button {
  font-family: var(--font-family);
}

body {
  padding: 0;
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
  --font-color: #1C4E80;
  --hover-color: #4E8dCD;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

button,
select {
  border: none;
  outline: none;
}

.heading {
  font-size: 50px;
  font-weight: 700;
  color: var(--font-color);
}

.heading-medium {
  font-size: 40px;
  font-weight: 700;
  color: var(--font-color);
}

.heading-small {
  font-size: 30px;
  font-weight: 700;
  color: var(--font-color);
}

.bold {
  font-weight: bold;
}

.horizontal-divider {
  background-color: rgb(190, 190, 190);
  height: 3px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loading {
  width: 100%;
  text-align: center;
  margin: auto;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 600;
}

.textarea {
  width: 60%;
  height: 200px;
  font-size: 16px;
  padding: 10px;
  border: 3px solid rgb(200, 200, 200);
  outline: none;
  border-radius: 10px;
}

.textarea:focus {
  border-color: var(--font-color);
}

.header .logout-button {
  background: transparent;
  color: var(--font-color);
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  margin: 10px;
  right: 20px;
  position: fixed;
}

.header .logout-button:hover {
  background: var(--font-color);
  color: white;
}

.header .help-button {
  background: transparent;
  color: var(--font-color);
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  margin-right: 140px;
  right: 20px;
  position: fixed;

}

.header .help-button:hover {
  background: var(--font-color);
  color: white;
}



#react-button {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--font-color);
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat";
}

#react-button:hover {
  background-color: var(--hover-color);
}

/* Header */
.header {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 3px 5px rgb(200, 200, 200);
}

.header img {
  width: 100%;
  height: 40px;
  margin-top: 0px;
  object-fit: contain;
}

.footer {
  height: 50px;
  width: 100%;
  bottom: -1px;
  left: 0;
  position: fixed;
  background-color: rgb(240, 240, 240);
  display: flex;
  z-index: 100;
}

.footer p {
  flex: 1;
  font-size: 16px;
  line-height: 50px;
  color: var(--font-color);
  font-weight: 600;
}

/* Container */
.outer-container {
  width: 100vw;
  margin-top: 60px;
  display: flex;
}

.inner-container {
  height: calc(100vh - 160px);
  flex: 8;
  /* background-color: rgb(235, 235, 235); */
  background-color: white;
  overflow-y: scroll;
  padding-bottom: 100px;
}

/* SideBar */
.sidebar {
  top: 60px;
  position: sticky;
  height: calc(100vh - 60px);
  /* border: 2px solid rgb(235,235, 235); */
  background-color: rgb(240, 240, 240);
  overflow-y: scroll;
  flex: 2;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .sidebar-option {
  padding: 15px;
  font-size: 16px;
  border-radius: 50px;
  margin: 5px 5px 5px 5px;
  display: flex;
  color: black;
}

.sidebar .sidebar-option:hover {
  background-color: var(--font-color);
  color: white;
  box-shadow: 3px 5px 10px rgb(200, 200, 200);
}

.sidebar .sidebar-option .img {
  flex: 1;
  line-height: 18px;
  object-fit: contain;
}

.sidebar .sidebar-option .span {
  flex: 3;
  text-align: left;
  line-height: 18px;
  font-weight: 600;
}

.sidebar-option.active {
  background-color: var(--hover-color);
  color: white;
}

/* Login Component */
.login-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.login-background-image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

.login-form {
  position: fixed;
  right: 5%;
  top: 10%;
  width: 30%;
  padding: 50px;
  font-size: 18px;
  border: 5px solid white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 3px 5px rgb(180, 180, 180);
  border-radius: 20px;
}

.login-form:hover {
  border-left: 5px solid rgb(76, 165, 255);
  border-top: 5px solid rgb(70, 163, 255);
  border-right: 5px solid rgb(88, 213, 255);
  border-bottom: 5px solid rgb(70, 163, 255);
}

.login-form:hover .heading {
  color: rgb(13, 26, 144);
}

.login-categories {
  display: flex;
  padding: 5px;
}

.login-category {
  flex: 1;
  margin: 10px;
  display: flex;
  background-color: white;
  padding: 15px;
  height: 20px;
  border-radius: 30px;
}

.login-category img {
  flex: 1;
  object-fit: contain;
}

.login-category span {
  flex: 2;
  text-align: left;
}

.box {
  margin: auto;
  margin-top: 10px;
  height: 32px;
  background: white;
  border-radius: 10px;
  border: 2px solid rgb(200, 200, 200);
  padding: 10px;
  display: flex;
}

.box img {
  flex: 1;
  object-fit: contain;
}

.box input {
  flex: 5;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  font-weight: 600;
}

.box input:focus {
  outline: 0;
}

.box:focus-within {
  border-color: var(--font-color);
  box-shadow: 0px 0px 5px 0px rgb(150, 150, 150);
  transition: box-shadow 250ms ease-in;
}

.form-button {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  background: var(--font-color);
  color: white;
  border-radius: 10px;
  border: 2px solid var(--font-color);
  padding: 10px;
  font-weight: 600;
}

.form-button:hover {
  background-color: royalblue;
  border-color: royalblue;
}

/* View Activities Component */
.view-activities {
  padding: 20px;
}

.view-activities::-webkit-scrollbar {
  display: none;
}

.view-activities .list-activities {
  width: calc(100% - 60px);
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}

.view-activities .list-activities .list-activities-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.activity {
  margin: 5px;
  color: white;
  border: 1px solid rgb(225, 225, 225);
  padding: 15px;
  border-radius: 10px;
}

.activity .top-div {
  display: flex;
}

.activity .top-div img {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.activity .top-div .activity-title {
  flex: 5;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.activity .middle-div .activity-description {
  font-size: 14px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.activity .bottom-div {
  margin-top: 10px;
  display: flex;
}

.activity .bottom-div .activity-category {
  flex: 1;
  font-size: 14px;
}

/* View Community Component */

.view-communities {
  padding: 20px;
}

.view-communities::-webkit-scrollbar {
  display: none;
}

.view-communities .list-communities {
  width: calc(100% - 60px);
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}

.view-communities .list-communities .list-communities-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.community {
  margin: 5px;
  color: white;
  border: 1px solid rgb(225, 225, 225);
  padding: 15px;
  border-radius: 10px;
}

.community .top-div {
  display: flex;
}

.community .top-div img {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.community .top-div .community-title {
  flex: 5;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.community .middle-div .community-challenges {
  font-size: 14px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.community .bottom-div {
  margin-top: 10px;
  display: flex;
}

.community .bottom-div .community-population {
  flex: 1;
  font-size: 14px;
}

.community .bottom-div .community-location {
  flex: 1;
  font-size: 14px;
}


/* Search Bar */
.search-bar {
  flex: 3;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  display: flex;
  padding: 10px;
  margin: 5px;
}

.search-bar img {
  flex: 1;
  height: 30px;
  object-fit: contain;
}

.search-bar input {
  flex: 14;
  font-size: 18px;
  padding: 5px;
  background: transparent;
  font-weight: 600;
  border: none;
  outline: none;
}

.button {
  flex: 1;
  background-color: var(--font-color);
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
  border-radius: 30px;
}

.button:hover {
  background-color: royalblue;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

/* Form */
.form-div {
  width: 60%;
  margin: auto;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  padding: 30px;
  margin-top: 20px;
  /* border: 2px solid var(--font-color); */
  border: 2px solid rgb(235, 235, 235);
  box-shadow: 2px 3px 5px rgb(235, 235, 235);
}

.form-div:hover, .highlight-form-div {
  border-color: #a4c9ef;
  box-shadow: 2px 3px 5px #a4c9ef;
}

.div-options {
  padding: 20px;
}

.div-options .paragraph {
  font-size: 16px;
  font-weight: 600;
}

.div-options #react-button {
  width: 200px;
}

.releasenotes-div {
  margin-top: 30px;
}

@media (prefers-color-scheme: light) {}